/* .bottomNavigation{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottomNavigationAction{
    height: 100%;
    width: 33%;
}
.button{
    height: 10%;
    width: 25%;
    font-size: 80%;
}
.appBar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 0;
   
}
.mainContent{
    padding: 2%;
    padding-bottom: 10%;
    bottom: 10%;
    width: 100%;
    height: 100%;
}
.hamburger{

}*/

/* width */
::-webkit-scrollbar{
    width: 25px;
}
  /* Track */
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
}
  /* Handle */
::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.5); 
    border-radius: 5px;
}
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: rgba(128, 128, 128, 0.75); 
}
